input {
  display: block;
}

.modalWindow {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  padding: 50px;
  background-image: inherit;
  border: 1px solid;
}

.formContainer {
  display: inline;
  margin: 10px;
  padding: 10px;
}

.button {
  padding: 1px;
  margin: 3px;
  opacity: 0.5;
  color: inherit;
}

.button:hover {
  opacity: 1;
}
